body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://thumbs.dreamstime.com/b/cute-doodle-blue-whales-marine-seamless-background-pattern-can-be-used-wallpaper-pattern-fills-web-page-surface-textures-41874374.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h3:hover {
    color: rgb(0, 139, 93);
}
